/*.elf
/build
/ios_bsp/build
/ios_bsp/ios_bsp.bin.h
/ios_bsp/ios_bsp_syms.h
/ios_bsp/*.elf
/ios_bsp/*.bin
/ios_fs/build
/ios_mcp/build
/ios_mcp/*.elf
/ios_mcp/ios_mcp_syms.h
/ios_mcp/ios_mcp.bin.h
/ios_mcp/*.bin
/ios_fs/ios_fs_syms.h
/ios_fs/ios_fs.bin.h
/ios_fs/*.elf
/ios_fs/*.bin
/ios_kernel/*.bin
/ios_kernel/ios_kernel.bin.h
/ios_kernel/*.elf
/ios_kernel/ios_kernel_syms.h
/ios_kernel/build
/ios_usb/*.bin
/ios_usb/ios_usb.bin.h
/ios_usb/*.elf
/ios_usb/ios_usb_syms.h
/ios_usb/build
/ios_acp/build
/ios_acp/*.bin
/ios_acp/ios_acp.bin.h
/ios_acp/*.elf
/ios_acp/ios_acp_syms.h
